<div class="p-3 mb-2 bg-primary-subtle text-emphasis-primary"><h2 class="text-center mt-2">Welcome User</h2>
</div>
<a href="/prodcat"><button routerLink="prodcat" class="btn btn-primary m-1">ProductCategory</button></a>
<a href="/prodcmp"><button routerLink="prodcmp" class="btn btn-primary m-1">Productcomparison</button></a>
<a href="/rating"><button routerLink="rating" class="btn btn-primary m-1">ProductRating</button></a>
<a href="/fbdusr"><button routerLink="fbdusr" class="btn btn-primary m-1">ProductFeedback</button></a>
<a href="/proddetails/:productId"><button routerLink="proddetails/:productId m-1" class="btn btn-primary">ProductDetails</button></a>